<header class="ui menu">
  <div class="left menu">
    <%= link_to admin_root_path, class: "item ui image" do %>
      <%= image_tag 'icon_avatar.jpg' %>
    <% end %>
    <%= link_to "Courses", admin_courses_path, class: "item" %>
  </div>
  <div class="right menu">
    <% if !current_user %>
      <%= link_to new_user_session_path, class: "item" do %>
        <i class="sign in icon"></i>
        Login
      <% end %>
      <%= link_to new_user_registration_path, class: "item" do %>
        <i class="write icon"></i>
        Register
      <% end %>
    <% else %>
      <%= link_to current_user, class: "item" do %>
        <%= icon_avatar current_user,class: "ui avatar image" %>
        <%= current_user.email %>
      <% end %>
      <%= link_to root_path, class: "item" do %>
        <i class="student icon"></i>
        Normal
      <% end %>
      <div class="ui simple dropdown item">
        <i class="setting icon"></i>
        Setting
        <div class="menu">
          <%= link_to edit_user_registration_path, class: "item" do %>
            <i class="edit icon"></i>
            Edit Profile
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "item" do %>
            <i class="sign out icon"></i>
            Logout
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</header>
