<h1>Profile</h1>
<div class="ui items">
  <div class="item">
    <div class="ui image">
      <%= profile_avatar @user %>
    </div>
    <div class="content">
      <div class="header">
        <%= @user.name %>
      </div>
      <div class="meta">
        Email: <%= @user.email %>
      </div>
      <div class="meta">
        Score: <%= @user.total_point %>
      </div>
    </div>
  </div>
</div>
<h2>Challenge Submissions</h2>
<table class="ui table">
  <thead>
    <tr>
      <th>Challenge</th>
      <th>Point</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @user.challenge_submissions.each do |submission| %>
      <tr>
        <td><%= link_to submission.challenge.name, course_challenge_path(submission.course, submission.challenge) %></td>
        <td><%= submission.challenge.point %></td>
        <td><%= submission.created_at.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
