<h1>Ranks</h1>
<table class="ui table">
  <thead>
    <tr>
      <th>#</th>
      <th>Avatar</th>
      <th>Name</th>
      <th>Point</th>
      <th>Last Submission</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do | user, i |  %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= profile_avatar user, class: "ui avatar image" %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.total_point @course_id %></td>
        <td><%= user.last_challenge_submission_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back to Course', course_path(@course), class: "ui button" %>
