<h1>Challenges</h1>
<table class="ui table">
  <thead>
    <tr>
      <th>#</th>
      <th> </th>
      <th>Name</th>
      <th>Point</th>
      <th>Solved</th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each_with_index do |challenge, i| %>
      <% if current_user and ChallengeSubmission.find_by(user_id: current_user.id, challenge_id: challenge.id) != nil %>
        <tr style="background: #BCF5A9">
          <td><%= i+1 %></td>
          <td>✓</td>
          <td><%= link_to challenge.name, course_challenge_path(challenge.course,challenge) %></td>
          <td><%= challenge.point %></td>
          <td><%= ChallengeSubmission.where(challenge_id: challenge.id).count %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= i+1 %></td>
          <td></td>
          <td><%= link_to challenge.name, course_challenge_path(challenge.course,challenge) %></td>
          <td><%= challenge.point %></td>
          <td><%= ChallengeSubmission.where(challenge_id: challenge.id).count %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
