<h1><%= @challenge.name %> [<%= @challenge.point %>]</h1>
<h2>Description</h2>
<%= simple_format(@challenge.description) %>
<h2>Hint</h2>
<%= simple_format(@challenge.hint) %>
<h2>Files</h2>
<% @challenge.attachments.each_with_index do |attachment, index| %>
  <%= link_to File.basename(attachment.url), attachment.url, target: "_blank" %>
<% end %>
<%= render 'submit_flag_form', course: @course, challenge: @challenge %>
<table class="ui table">
  <thead>
    <tr>
      <th>User</th>
      <th>Last time</th>
      <th>Point</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.reverse.each do |submission| %>
      <tr>
        <td><%= link_to submission.user.name, submission.user %></td>
        <td><%= submission.created_at.to_s[0..-5] %></td>
        <td><%= submission.challenge.point %></td>
      </tr>
    <% end %>
  </tbody>
</table>
