<table class="ui table">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Challenge</th>
      <th>Point</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= profile_avatar @challenge_submission.user, class: "ui avatar image" %></td>
      <td><%= link_to @challenge_submission.user.name, @challenge_submission.user %></td>
      <td><%= link_to @challenge_submission.challenge.name , [@challenge_submission.course, @challenge_submission.challenge ]%></td>
      <td><%= @challenge_submission.challenge.point %></td>
      <td><%= @challenge_submission.created_at.localtime %></td>
    </tr>
  </tbody>
</table>
