<!DOCTYPE html>
<html>
  <head>
    <title>Bamboofox</title>
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'admin/header' %>
    <article class="ui centered aligned grid container">
      <div class="sixteen wide mobile sixteen wide tablet ten wide computer column">
        <div class="ui segment">
          <%= yield %>
        </div>
      </div>
    </article>
    <%= render 'layouts/footer' %>
  </body>
</html>
