<!DOCTYPE html>
<html>
  <head>
    <title>Bamboofox</title>
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main class="ui centered aligned grid container">
      <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column">
        <%= render 'layouts/flash' %>
        <div class="row">
          <div class="ui basic segment">
            <%= render 'layouts/breadcrumb' %>
          </div>
        </div>
        <div class="ui segment">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
