<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true ,class: "ui form"}) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <div class="ui left icon input">
      <%= f.email_field :email, autofocus: true %>
      <i class="mail icon"></i>
    </div>
  </div>
  <div class="field">
    <%= f.label :name %>
    <div class="ui left icon input">
      <%= f.text_field :name %>
      <i class="user icon"></i>
    </div>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <div class="ui left icon input">
      <%= f.password_field :password, autocomplete: "off" %>
      <i class="lock icon"></i>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <div class="ui left icon input">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <i class="lock icon"></i>
    </div>
  </div>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <div class="ui left icon input">
      <%= f.password_field :current_password, autocomplete: "off" %>
      <i class="lock icon"></i>
    </div>
  </div>
  <h3>Unlink social media</h3>
  <div class="ui clearing basic compact segment">
    <div class="ui horizontal segments">
      <%= f.fields_for :identities do |identity| %>
        <div class="ui left floated compact segment">
          <div class="ui toggle checkbox">
            <%= identity.check_box :_destroy, {}, false, true %>
            <%= identity.label :_destroy, identity.object.provider.camelize %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update", class: "ui positive button"%>
  </div>
<% end %>
<h3>Delete my account</h3>
<%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ui negative button" %>
<h3>Link with social media</h3>
<% if devise_mapping.omniauthable? %>
  <%= omniauth_buttons(resource_class.omniauth_providers) %>
<% end %>
